html, body {
    width: 100vw;
    height: 100vh;
}

.checker {
    display: flex;
    justify-content: center;
}

.checker table {
    width: 800px;
    border: 2px solid black;
}

td {
    padding: 0;
}

.black {
    background-color: black;
    width: 100px;
    height: 100px;
}

.white {
    background-color: white;
    width: 100px;
    height: 100px;   
}